---
import CardApp from './CardApp.astro';
import VipRemixerIcon from '../assets/icons/Vip Remixer.svg';
import FlacDownloaderIcon from '../assets/icons/Flac_Downloader.svg';
import Mp3DownloaderIcon from '../assets/icons/Mp3_Downloader.svg';
import ResourzlyIcon from '../assets/icons/Resourzly.svg';
import wShareIcon from '../assets/icons/wShare.svg';
---

<section>
  <h2 class="text-3xl font-normal text-white mb-8 tracking-tighter">Apps de Música</h2>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-14">
    <!-- Vip Remixer -->
    <CardApp
      title="Vip Remixer"
      description="Plataforma exclusiva para DJs, encuentra remixes, transiciones, open show, mashups, etc"
      color="yellow"
      Icono={VipRemixerIcon}
      link='https://vipremixer.winkermind.com'
    />

    <!-- Flac Downloader -->
    <CardApp
      title="Flac Downloader"
      description="Página web para descargar cualquier canción en calidad flac y sin pérdida"
      color="slate"
      Icono={FlacDownloaderIcon}
      link='https://flacdownloader.com'
    />

    <!-- Mp3 Downloader -->
    <CardApp
      title="Mp3 Downloader"
      description="Página web para descargar cualquier canción en calidad mp3 320 kbps"
      color="red"
      Icono={Mp3DownloaderIcon}
      link='https://mp3downloader.cc'
    />
  </div>

  <h2 class="text-3xl font-normal text-white mt-16 pb-8 tracking-tighter">
    Apps de Diseño Gráfico & Utils
  </h2>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-14">
    <!-- Resourzly -->
    <CardApp
      title="Resourzly"
      description="Descarga gratis templates para Photoshop, Illustrator, After Effects y más."
      color="blue"
      Icono={ResourzlyIcon}
      link='https://resourzly.com'
    />

    <!-- wShare -->
    <CardApp
      title="wShare"
      description="Sube y comparte archivos gratis con tus amigos."
      color="green"
      Icono={wShareIcon}
      link='https://wshare.cc'
    />
  </div>
</section>
