---
import { STEMS_CONFIG, ANIMATION_DELAYS } from "./VocalRemoverDemo/constants";
import vocalImg from "../assets/voice/vocal.webp";
import drumsImg from "../assets/voice/drums.webp";
import bassImg from "../assets/voice/bass.webp";
import pianoImg from "../assets/voice/piano.webp";
import guitarImg from "../assets/voice/guitar.webp";
import otherImg from "../assets/voice/other.webp";

// Componentes
import Header from "./VocalRemoverDemo/Header.astro";
import ProgressBar from "./VocalRemoverDemo/ProgressBar.astro";
import ControlButtons from "./VocalRemoverDemo/ControlButtons.astro";
import StemRow from "./VocalRemoverDemo/StemRow.astro";

// Mapa de imágenes de espectro
const spectrumMap: Record<string, any> = {
  vocals: vocalImg,
  drums: drumsImg,
  bass: bassImg,
  piano: pianoImg,
  guitar: guitarImg,
  other: otherImg,
};
---

<section class="mt-18">
  <h2 class="text-3xl font-normal text-white pb-8 tracking-tighter">
    Apps de Inteligencia Artificial
  </h2>

  <section
    class="bg-black/15 border border-slate-700/30 rounded-2xl px-10 py-16"
  >
    <!-- Header -->
    <Header />

    <!-- Audio Elements (hidden) -->
    {
      STEMS_CONFIG.map((stem) => (
        <audio id={`audio-${stem.id}`} preload="auto">
          <source src={stem.file} type="audio/wav" />
        </audio>
      ))
    }

    <!-- Music Player -->
    <div class="flex flex-col gap-4 mb-6">
      <div class="flex gap-6 justify-between">
        <div class="flex-1">
          <p class="text-base font-semibold text-white mb-3">
            Billie Eilish - Bad Guy
          </p>
          <ProgressBar />
        </div>
        <ControlButtons />

        <div class="flex items-center gap-4">
          <p class="font-normal tracking-tighter">Ir a Vocal Remover</p>
          <a
            href="https://vocalremover.org/"
            target="_blank"
            class="flex items-center justify-center text-emerald-500 hover:underline gap-1 border
          border-emerald-500/30 size-10 rounded-full hover:bg-emerald-500/10 transition-all duration-300 hover:shadow-lg"
          >
            <svg
              class="w-5 h-5 text-emerald-500"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                d="M9 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>

    <!-- Stems Grid -->
    <div class="grid auto-rows-auto gap-3">
      {
        STEMS_CONFIG.map((stem, index) => (
          <StemRow
            name={stem.name}
            id={stem.id}
            spectrum={spectrumMap[stem.id].src}
            animationDelay={ANIMATION_DELAYS[index]}
          />
        ))
      }
    </div>
  </section>
</section>

<script>
  import "./VocalRemoverDemo/index.ts";
</script>
